.themeDefault {
  --p-20: hsl(213, 100%, 98%);
  --p-50: #d5f4ef;
  --p-100: #c5fffb;
  --p-200: #8bfff8;
  --p-300: #4afef4;
  --p-400: #15ece6;
  --p-450: hsl(198, 81%, 63%);
  --p-500: #00d0ce;
  --p-600: #00a7a8;
  /* primary */
  --p-700: #008689;
  --p-800: #066569;
  --p-900: #0a5557;
  --p-950: #003135;
}
