.themeDark {
  --p-20: hsl(213, 100%, 98%);
  --p-50: #f6f6f6;
  --p-100: #e7e7e7;
  --p-200: #d1d1d1;
  --p-300: #b0b0b0;
  --p-400: #888888;
  --p-500: #6d6d6d;
  --p-600: #5d5d5d;
  /* primary */
  --p-700: #4f4f4f;
  --p-800: #454545;
  --p-900: #3d3d3d;
  --p-950: #000000;
}
