/* theme-pink.css */
.themePink {
  --p-20: hsl(213, 100%, 98%);
  --p-50: #fcf3f7;
  --p-100: #f9eaf2;
  --p-200: #f5d5e4;
  --p-300: #eeb3cd;
  --p-400: #e284ac;
  --p-500: #d65e8d;
  --p-600: #be3c69;
  /* primary */
  --p-700: #a72f55;
  --p-800: #8b2947;
  --p-900: #74273e;
  --p-950: #461121;
}
