.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-right: var(--p-solid-boder);
}
.header {
  display: flex;
  width: 100%;
  height: 96px;
  background-color: transparent;
  padding: 0 16px;
  border-bottom: var(--p-solid-boder);
}
.content {
  width: 100%;
  padding: 10px 10px;
}
